/* Resetar margens  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setar o body como ocupa 100% da tela e imagem de fundo com letras brancas */

html,
body {
  background: #000 url('img/bg.png') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
/* Setar container centralizado com largura máxima */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

h1 {
  font-size: 2rem;
  margin: 0 20px 20px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

/* UI de botões */
.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
  margin-top: 30px;
}

header img {
  width: 200px;
}

/* Classe para centralizar o conteúdo */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

/* UI para inputs (de busca)  */
input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

/* UI para container com cards */
.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

/* UI geral dos cards */
.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

/* Título dos cards */

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Parametros para imagens do card */

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Conteúdo interno do card (flipado) */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  font-size: 12px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #2c3243;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}


.menu ul{
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: 'Cinzel', serif;
  font-size: 20px;

  
}

.menu  a {
  color: white;
  margin: 10px;
}

.menu a:hover {
  border-bottom: 1px solid white;
  font-size: 21px;
  transition: font-size 1s;
}


.rodape {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.casas {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: white;
  margin: 10px;
  flex-wrap: wrap;

}